img {
  max-width: 100%;
}

form {
  display: flex;
  flex: 1;
  padding: 16px;
  flex-direction: column;
}
form input {
  border: none;
  padding: 12px 16px;
  margin-bottom: 12px;
  font-size: 16px;
  border-radius: 4px;
  box-shadow: 0 0 3px #ccc;
}
form button {
  border: none;
  padding: 10px 0;
  font-size: 16px;
  border-radius: 4px;
  box-shadow: 0 0 3px #ccc;
}
form a {
  padding: 12px 0;
}
